
<div id="game">
	<span id="time">Time: <time>n/a</time></span>
	<h1 class="ui">Welcome to Mine Hunter!</h1>
	<button class="ui" id="start">New Game</button>
	<h2>Mine count: <span id="mines">n/a</span></h2>
	<h3 class="ui">How to play:</h3>
	<p class="ui">Click with LMB to reveal field</p>
	<p class="ui">Ctrl+Click to place a flag</p>
</div>