<article>
	<h1>Welcome to my first web project</h1>
	<p>Hi. My name is Stefan Kupresak ( also known as Cyprium ), and currently I'm first grade student of Computer Science. I have a lot of passion for web development so I took the <a href=""> The Odin Project</a> ( a free web design/programming course ). This is my first attempt to create something on my own with the stuff I've learned there.</p>
	<h1>About &amp; GitHub</h1>
	<p>This application was made in Rails framework, jQuery( for the game), html5 and SASS(css pre-processor) and it's completley open-source.</p>
	<p>You can find it in a repository on github and you can find it <a href="https://github.com/dev-cyprium/Mine-Hunter">here.</a></p>
	<h1>Contact</h1>
	<p>You can get in touch with me: </p>
	<ul>
		<li>Email: <em>stefan_vg@hotmail.com</em></li>
		<li>GitHub: <a href="https://github.com/dev-cyprium">link</a></li>
		<li>Slack(username -> Cyprium): <a href="https://theodinproject.slack.com/messages/general/details/">link</a></li>
	</ul>
</article>