@import url(https://fonts.googleapis.com/css?family=Montserrat);


/* Info/Score pages */
body {
	background: linear-gradient(#996699,#3399ff) no-repeat;
	background-color: #3399ff;
}

@mixin no-highlit {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
}

nav {
	h1,h2 {
		text-align: center;
		font-family: "Montserrat"
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.2em;
	}
	margin-bottom: 70px;
}

#links {
	height: 100px;
	width: 70%;
	min-width: 300px;
	margin: auto;
	border: 1px solid gray;
	background-color: #ccff33;
	box-shadow: 0px 15px 13px -10px black;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	padding: 5px 0;
	.item {
		width: 200px;
		height: 100px;
		line-height: 100px;
		border-radius: 5px;
		text-align: center;
		font-size: 1.2em;
		a {
			display: block;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 70%;
			color: black;
			text-decoration: none;
			transition: all 0.4s;
			&:hover {
				background-color: #99cc00;
				border-radius: 5px;
			}
		}
		&:not(:last-child) {
			border-right: 1px solid black;
			border-radius: 0;
		}
	}

	
}

article {
	width: 60%;
	margin: auto;
	background-color: #99CC99;
	border-radius: 15px;
	padding: 20px;
	font-family: "Montserrat";
	a {
		text-decoration: none;
		color: #003366;
	}
}

/* Game */
#time {
	position: absolute;
	font-size: 1em;
	text-align: center;
	top: 7%;
	left: 50%;
	transform: translateX(-50%);
}

#game {
	position: relative;
	width: 600px;
	height: 700px;
	background-color: #404040;
	margin: auto;
	margin-bottom: 200px;
	border-radius: 10px;
	button {
		position: absolute;
		width: 200px;
		height: 100px;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	h1 {
		text-align: center;
		padding-top: 25%;
	}
	h2 {
		text-align: center;
		padding-top: 20px;
	}
	h3 {
		text-align: center;
		padding-top: 35%;
	}
	p {
		text-align: center;
	}
	.cell { 
		box-sizing: border-box;
		float: left;
		background-color: gray;
		border: 3px solid #404040;	
		border-radius: 10px;
		transition: background-color 0.4s;
		font-size: 32px;
		line-height: 60px;
		text-align: center;

		@include no-highlit;
		&:hover {
			background-color: #595959;
		}
	}
}
